.email{
    
    width: 100%;
    margin-top: 30px;
    padding: 25px 20px;
    background-color: #F8F8F8;
}

.email__description{
    color: black;
    font-size: 16px;
    margin-bottom: 25px;
}

.email__input{
    border-radius: 0px;
    border: none;
    width: 100%;
    border-bottom: 1px solid #000;
    background-color: inherit;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 5px;
}

.email__button{
    border: none;
    width: 100%;
    height: 35px;
    background-color: rgba(227, 187, 43, 0.9);
    border-radius: 17px;
}

@media (min-width: 640px){
    .email__wrapper{
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10%;
    }
    .email__description{
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

@media (min-width: 1080px){
    .email{
        
    }
    .email__wrapper{
        text-align: center;
        display: grid;
        grid-template-columns: 50% 20% 15%;
        grid-column-gap: 7%;
    }
    .email__description{
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .email__description{
        text-align: left;
    }
}