

.goods__nav{
    display: none;
}

.goods__header{
    padding: 10px 0;
    margin: 15px 0;
    background-color: #F9F9F9;
    text-align: center;
}

.goods__h2{
    text-transform: uppercase;
    width: 100%;
    margin-bottom: 20px;
}

.goods__btn-wrapper{
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
}

.goods__all-link{
    color: #000;
    font-size: 15px;
    margin-top: 5px;
}

.goods__btn{
    background-color: inherit;
    border: none;
    cursor: pointer;
}

.goods__card-wrapper{
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}

.goods__card{
    border: 1px solid #E6E6E6;
    padding: 10px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
}

.goods__card-img, .goods__h3, .goods__code, .goods__availab{
    grid-column-start: 1;
    grid-column-end: 3;
    
}

.goods__card-img{
    margin-left: auto;
    margin-right: auto;
}

.goods__h3{
    text-align: center;
    font-size: 22px;
    margin: 20px 0 10px 0;
}

.goods__code, .goods__availab{
    color: #000;
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
    z-index: -1;
    position: relative;
}

.goods__price-desc{
    font-size: 18px;
    color: #000;
    margin-top: 10px;
    z-index: -1;
    position: relative;
}

.goods__price{
    margin-top: 16px;
    font-size: 24px;
    text-align: right;
    color: #000;
    z-index: -1;
    position: relative;
}

.goods__control{
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: space-between;
}

.number{
    margin-top: 10px;
    display: flex;
}

.goods__minus{
    height: 25px;
    width: 30px;
    font-size: 30px;
    line-height: 0px;
    border: 1px solid black;
    background-color: #fff;
    border-radius: 10px 0 0 10px; 
}

.goods__input{
    height: 25px;
    width: 25px;
    border: 1px solid black;
    border-radius: 0px;
    border-left: none;
    border-right: none;
    padding-left: 7px;
}

.goods__plus{
    height: 25px;
    width: 30px;
    font-size: 20px;
    line-height: 0px;
    border: 1px solid black;
    background-color: #fff;
    border-radius: 0 10px 10px 0; 
}

.goods__button{
    border: none;
    width: 50px;
    height: 40px;
    border-radius: 3px;
    background-color: #E3BB2B;
}

.goods__btn-wrapper--bottom{
    margin-top: 35px;
}

.goods__header-btn-wrapper, .goods__fot-btn-wrapper{
    width: 80px;
    display: flex;
    justify-content: space-between;
}



@media (min-width: 430px){
    .goods__h2{
        width: auto;
        margin-bottom: 0px;
        font-size: 25px;
    }
    .goods__card-wrapper{
        width: 95%;
        margin-top: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 30px;
    }
}


@media (min-width: 640px){
    .goods__card-wrapper{
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 15px;
        grid-row-gap: 40px;
    }
}


@media (min-width: 980px){
    .goods{
        display: grid;
        grid-template-columns: 300px 1fr;
        padding-left: 20px;
    }
    .goods__header{
        padding-left: 30%;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .goods__nav{
        margin-top: 20px;
        display: block;
        width: 300px;
        height: 666px;
    }
    .goods__nav-list{
        list-style: none;
    }
    .goods__list-header{
        padding-top: 17px;
        padding-left: 15px;
        font-size: 35px;
        color: #EEEEEE;
        background-color: #313131;
        border-radius: 5px 5px 0px 0px;
        height: 93px;
    }
    .goods__list-header p{
        font-size: 35px;  
    }
    .goods-nav__hr{
        width: 106px;
        height: 2px;
        border: none;
        background-color: rgba(227, 187, 43, 1);
    }
    .goods__list-item{
        padding-left: 15px;
        border: 1px solid #dfdfdf;
        height: 48px;
        margin-top: -1px;
    }
    .goods__list-item--2n{
        background-color: rgba(229, 229, 229, 0.26);
    }
    .goods__list-item a{
        line-height: 48px;
        font-size: 20px;
        text-decoration: none;
        color: #000;
    }
    .goods__btn-wrapper--bottom{
        grid-column-start: 2;
        grid-column-end: 3;
        width: 100%;
        padding-right: 50px;
        justify-content: flex-end;
    }
    .goods__fot-btn-wrapper{
        margin-left: 100px;
    }
}

@media (min-width: 1160px){
    .goods__card-wrapper{

        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 20px;
    }
}